// Colours partial

// Text colours
$txt-primary: rgba(28, 54, 83, 1.0);

// body font
$txt-secondary: #3D4351;

// heading font
$txt-light: #fff;

// header/hero
$txt-accent: #ACB1B4;
$form-placeholder: #BCC1C3;

// Accent Color
$accent-color: #709c62;
$accent-color-hover: darken($accent-color,10%);

// global accent colour hover
$white-color: #fff;
$black-color: #000;

// Typography colours
$h1-color: $txt-primary;
$h2-color: rgba(28, 54, 83, 1.0);
$h3-color: #4679b1;
$h4-color: $txt-primary;
$h5-color: $txt-primary;
$p-color: #656565;

// Layout colours
$section-light-background: #fff;
$section-dark-background: #e0d7cb;
$registry-bg: #dee8da;
$to-top-bg: #495061;
$footer-primary: #3D4351;
$footer-secondary: #373D4A;

// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;
