// Layout variables partial

$section-padding: 40px 0;

section.invitation, section.eng-pics, section.rsvp {
	background: $section-light;
}
section.intro, section.events, section.registry {
	background: $section-dark;
}